{% extends "layout.twig" %}

{% block title %}Welcome to MODX - unleash your Creative Freedom{% endblock %}

{% block content %}
    <h1>MODX is awesome!</h1>
    <p>This is the homepage of the website.</p>
    <p><em>This site is sponsored by <a href="https://en.modhost.pro/">modhost.pro</a></em></p>
{% endblock %}