{% extends "layout.twig" %}

{% block title %}Welcome to MODX - unleash your Creative Freedom{% endblock %}

{% block content %}
    <h1>MODX is awesome!</h1>
    <p>This is the homepage of the website.</p>
{% endblock %}