{% extends "layout.twig" %}

{% block title %}Welcome to MODX - unleash your Creative Freedom{% endblock %}

{% block content %}
    <h1>MODX is awesome!</h1>
    <p>This is the homepage of the website.</p>
    <p><em>This site is sponsored by <a href="https://en.modhost.pro/"><img src="https://en.modhost.pro/assets/components/hoster/img/logo-black@2.png" alt="modhost.pro"></a></em></p>
{% endblock %}