{% extends "layout.twig" %}

{% block title %}Welcome to MODX - unleash your Creative Freedom{% endblock %}

{% block content %}
    <div class="wf wf-image" style="width: 100%; min-height: 400px;">
        <h1 style="padding-right: 25%; margin: 3em 3em 0; font-size: 3em; line-height: 1.6em;">A fantastic large headline because MODX is awesome and so flexible</h1>
        <br>

        <div class="wf-inline-blocks" style="padding: 1em 3em 3em 8em;">
            <div class="text-center">
                <a href="#" class="wf wf-btn full">Download</a>
                <small>Version 2.6.1</small>
            </div>
            <div class="text-center">
                <a href="#" class="wf wf-btn full">Try MODX</a>
                <small>with a free MODX Cloud</small>
            </div>
        </div>
    </div>

    <div class="flex">
        <div class="flex-c-1" style="padding: 3em 5em;">
            <h3>What is MODX?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores autem beatae debitis dolor dolore, eligendi error expedita magnam necessitatibus nemo perspiciatis repudiandae rerum.</p>
            <h3>It's Open Source</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At error et fugit id, incidunt laudantium veniam. Fugiat odit optio pariatur. Ab accusantium autem consectetur.</p>
        </div>
        <div class="flex-c-2">
            <div class="wf wf-image" style="width: 100%; min-height: 400px;">
            </div>
        </div>
    </div>

    <div class="flex">
        <div class="flex-c-1 wf p-2">
            <h3 class="text-center">For Developers</h3>
            <ul>
                <li>Powerful API</li>
                <li>Multilingual and multisite</li>
                <li>Flexible templating</li>
            </ul>
            <p class="text-center"><a href="#" class="wf-btn">Learn more</a></p>
        </div>
        <div class="flex-c-1 wf p-2">
            <h3 class="text-center">For editors</h3>
            <ul>
                <li>Easy navigation</li>
                <li>Helpful SEO tool</li>
                <li>Nice interface</li>
            </ul>
            <p class="text-center"><a href="#" class="wf-btn">Learn more</a></p>
        </div>
        <div class="flex-c-1 wf p-2">
            <h3 class="text-center">For Decision Makers</h3>
            <ul>
                <li>Future proof CMS</li>
                <li>Most secure CMS</li>
                <li>something else</li>
            </ul>
            <p class="text-center"><a href="#" class="wf-btn">Learn more</a></p>
        </div>
    </div>

    <div class="flex bg-grey">
        <div class="flex-c-1 text-center p-3">
            <h3 class="p-2">MODX is used by brands</h3>
            <div class="wf-inline-blocks">
                <div class="text-center">
                    <div class="wf wf-image" style="width: 200px; height: 100px"></div>
                </div>
                <div class="text-center">
                    <div class="wf wf-image" style="width: 200px; height: 100px"></div>
                </div>
                <div class="text-center">
                    <div class="wf wf-image" style="width: 200px; height: 100px"></div>
                </div>
                <div class="text-center">
                    <div class="wf wf-image" style="width: 200px; height: 100px"></div>
                </div>
                <div class="text-center">
                    <div class="wf wf-image" style="width: 200px; height: 100px"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex">
        <div class="flex-c-1 p-2">
            <h2 class="text-center">Get all the news from MODX.today</h2>
            <p style="font-size: 1.5em;" class="text-center">MODX.today is the community-driven news portal for the open-source project. Become a subscriber or even better an author.</p>

            <div class="flex">
                <div class="flex-c-1">
                    <p><small>January 24, 2018</small></p>
                    <h4>Moving away from functions in snippets: an introduction to service classes in MODX</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque delectus ducimus, harum illum ipsa magnam nisi nostrum praesentium quasi quidem quod, quos reiciendis repellat repellendus, sed soluta tempore voluptas voluptate?</p>
                    <p><a href="#">Read more</a></p>
                </div>
                <div class="flex-c-1">
                    <p><small>January 24, 2018</small></p>
                    <h4>Moving away from functions in snippets: an introduction to service classes in MODX</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque delectus ducimus, harum illum ipsa magnam nisi nostrum praesentium quasi quidem quod, quos reiciendis repellat repellendus, sed soluta tempore voluptas voluptate?</p>
                    <p><a href="#">Read more</a></p>
                </div>
                <div class="flex-c-1">
                    <p><small>January 24, 2018</small></p>
                    <h4>Moving away from functions in snippets: an introduction to service classes in MODX</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque delectus ducimus, harum illum ipsa magnam nisi nostrum praesentium quasi quidem quod, quos reiciendis repellat repellendus, sed soluta tempore voluptas voluptate?</p>
                    <p><a href="#">Read more</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="flex p-4 bg-grey">
        <div class="flex-c-1 text-center">
            <span style="font-size: 150%">5000+</span><br>
            Extras
        </div>
        <div class="flex-c-1 text-center">
            <span style="font-size: 150%">100+</span><br>
            Developers
        </div>
        <div class="flex-c-1 text-center">
            <span style="font-size: 150%">1M+</span><br>
            Downloads
        </div>
        <div class="flex-c-1 text-center">
            <span style="font-size: 150%">52+</span><br>
            Versions
        </div>
    </div>



    <div class="flex">
        <div class="flex-c-2">
            <div class="wf wf-image" style="width: 100%; min-height: 400px;">
            </div>
        </div>
        <div class="flex-c-1" style="padding: 3em 5em;">
            <h3>Upcoming Events</h3>
            <p>Meet the friendly MODX community world-wide at one of the upcoming events:</p>
            <h4>14/03/2018: MODX Meetup Germany</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad blanditiis dolorem et excepturi in iusto laudantium, magnam necessitatibus numquam, perspiciatis quas reiciendis repellendus rerum ut, voluptate? Molestias, soluta.</p>
            <h4>01/09/2018: MODX Conference 2018, Norway</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto assumenda cupiditate dicta facilis molestiae nemo optio praesentium quas rerum! Aperiam cum distinctio ex minima nostrum perferendis, quo tempora voluptatem?</p>

            <p><a href="#" class="wf-btn">More upcoming events</a></p>
        </div>
    </div>


    <div class="flex wf-top wf-bottom p-4">
        <div class="flex-c-1 text-center">
            <h3>Sign up for the MODX Newsletter</h3>
            <p>Don't miss any update, upcoming events, or latest news.</p>
            <p>We wont spam you, or sell your address. Promise!</p>

            <div class="wf-inline-blocks">
                <input type="email" placeholder="Email address">
                <input type="text" placeholder="First name">
                <select><option>All topics</option><option>Events</option></select>
                <button type="submit" class="wf-btn">Subscribe</button>
            </div>
        </div>
    </div>

    <div class="flex">
        <div class="flex-c-1">
            <h3 class="text-center">Connect to the Community</h3>

            <div class="flex">
                <div class="flex-c-1 wf-right p-1">
                    <h4>Exchange</h4>
                    <div class="item">
                        <div class="wf wf-image" style="width: 50px;height: 50px"></div>
                        <h5>Questions</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque dolor dolorem est ex nihil reprehenderit sit temporibus vel velit. Accusantium aspernatur at exercitationem, facere facilis non provident sunt tempora.</p>
                    </div>
                    <div class="item">
                        <div class="wf wf-image" style="width: 50px;height: 50px"></div>
                        <h5>Forums</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque dolor dolorem est ex nihil reprehenderit sit temporibus vel velit. Accusantium aspernatur at exercitationem, facere facilis non provident sunt tempora.</p>
                    </div>
                </div>
                <div class="flex-c-1 wf-right p-1">
                    <h4>Social</h4>
                    <div class="item">
                        <div class="wf wf-image" style="width: 50px;height: 50px"></div>
                        <h5>Twitter</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque dolor dolorem est ex nihil reprehenderit sit temporibus vel velit. Accusantium aspernatur at exercitationem, facere facilis non provident sunt tempora.</p>
                    </div>
                    <div class="item">
                        <div class="wf wf-image" style="width: 50px;height: 50px"></div>
                        <h5>LinkedIn</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque dolor dolorem est ex nihil reprehenderit sit temporibus vel velit. Accusantium aspernatur at exercitationem, facere facilis non provident sunt tempora.</p>
                    </div>
                </div>
                <div class="flex-c-1 p-1">
                    <h4>Knowledge</h4>
                    <div class="item">
                        <div class="wf wf-image" style="width: 50px;height: 50px"></div>
                        <h5>Documentation</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque dolor dolorem est ex nihil reprehenderit sit temporibus vel velit. Accusantium aspernatur at exercitationem, facere facilis non provident sunt tempora.</p>
                    </div>
                    <div class="item">
                        <div class="wf wf-image" style="width: 50px;height: 50px"></div>
                        <h5>Tips/Cookbook</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque dolor dolorem est ex nihil reprehenderit sit temporibus vel velit. Accusantium aspernatur at exercitationem, facere facilis non provident sunt tempora.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}