<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome to MODX.org{% endblock %}</title>
</head>
<body>

{% block container %}
<div style="background-color: #eee;">
    <div style="max-width: 900px; margin: 0 auto;">
        {% block content %}
            <h1>{{ page.title }}</h1>
            <p style="font-size: 1.1em;">{{ page.introduction }}</p>
        {% endblock %}
    </div>
</div>
{% endblock %}

</body>
</html>